@media screen and (max-width: 1368px) {
    .banner {
        height: 300px;
    }
}

@media screen and (max-width: 980px) {
    
    .container-header-right {
        width: 300px;
    }

    .banner-movie-info h2{
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 700px){
    .banner-movie img {
        width: 100%;
    }

    .banner-movie-info {
        width: 100%;
    }

    .banner-movie-info {
        text-shadow: 0 5px 30px black;
    }
}

@media screen and (max-width: 875px) {

    .container-header-right{
        display: none;
    }

    .banner{
        height: 250px;
    }

    .menu-space {
        display: block;
    }
}

@media screen and (max-width: 580px) {

    .container-header-left nav {
        display: none;
    }

    .container-header-right {
        display: none;
    }

    .banner{
        height: 200px;
    }
    
}